<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center; background-size: cover;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img style="width:90px;" src="assets/images/logo2.svg" alt="logo" /></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="PhoneSignupForm">
                        <div class="form-group row" *ngIf="IsToken">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" placeholder="Old password" formControlName="oldPassword">
                            </div>
                            <span class="error" *ngIf="PhoneSignupForm.get('oldPassword').hasError('required') && PhoneSignupForm.get('oldPassword').touched">Please enter old password.</span>
                            <span class="error" *ngIf="PhoneSignupForm.get('oldPassword').hasError('minlength')">Minlength should 8.</span>
                            <span class="error" *ngIf="PhoneSignupForm.get('oldPassword').hasError('maxlength')">Maxlength should 16.</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" required="" placeholder="New password" formControlName="password">
                            </div>
                            <span class="error" *ngIf="PhoneSignupForm.get('password').hasError('required') && PhoneSignupForm.get('password').touched">Please enter new password.</span>
                            <span class="error" *ngIf="PhoneSignupForm.get('password').hasError('minlength')">Minlength should 8.</span>
                            <span class="error" *ngIf="PhoneSignupForm.get('password').hasError('maxlength')">Maxlength should 16.</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" required="" placeholder="Confirm new password" formControlName="cnfPassword">
                            </div>
                            <span class="error" *ngIf="PhoneSignupForm.get('cnfPassword').hasError('required') && PhoneSignupForm.get('cnfPassword').touched">Please enter confirm new password.</span>
                         <span class="error" *ngIf="PhoneSignupForm.get('cnfPassword').hasError('mustMatch')">Confirm password does not match with new password.</span> 
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit" (click)="changepass()">Submit</button>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a  (click)="BackToDashboard()" class="btn btn-block btn-lg bg-white text-primary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>