<div class="row">
    <div class="col-12">
        <form [formGroup]="TermConditionForm">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                      
                        <quill-editor trackChanges="all" [readOnly]="viewPermission" [style]="{height: '300px',display: 'inline-block'}" formControlName="privacy_policy" ></quill-editor>
                        <!-- <ckeditor [editor]="Editor" formControlName="privacy"  (ready)="onReady($event)"></ckeditor> -->
                        <!-- <ckeditor
                        #editor
                        formControlName="privacy"
                        type="divarea">
                      </ckeditor> -->
                      <!-- <ejs-richtexteditor formControlName="privacy" #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' > </ ejs-richtexteditor> -->
                        <span class="error" *ngIf="TermConditionForm.get('privacy_policy').hasError('required') && TermConditionForm.get('privacy_policy').touched">Please enter privacy policy.</span>
                      </div>
                    <div class="col-12">
                        <button class="btn btn-primary mt-3" [disabled]="viewPermission" (click)="SaveTerms()">Save</button>
                    </div>
                </div>
            </div>
        </form>
         </div>
</div>