<!-- Start of apptunix5022 Zendesk Widget script -->
        <!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1f0b20de-54d5-4331-9f19-d0a700476a19"> </script> -->
    <!-- End of apptunix5022 Zendesk Widget script --> 
<!-- 
<head>  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1f0b20de-54d5-4331-9f19-d0a700476a19"> </script>
</head> -->










<!-- <div class="row"> 
   
<div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="prenametext" placeholder="Search">
                            </div>
                        </form>
                    </div>
                 
                    <table class="table v-middle product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email Id</th>
                                <th>Comments</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               
                                <td>Ronny </td>
                                <td>Hannagover@gmail.com </td>
                                
                                <td>Lorem ipsum dummy content It is useful for all type site and use for dummy content all type site and use for dummy content all type site and use for dummy content..... <a href="javascript:void(0)" (click)="reviewModal(review)">Read More</a></td>
                                <td>
                                    <button class="btn btn-danger" (click)="reviewDeleteModal(reviewDelete)"><i class="ti-trash"></i>
                    Delete</button>
                                </td>
                            </tr>
                            <tr>
                                
                                <td>Ronny </td>
                                <td>Hannagover@gmail.com </td>
                                
                                <td>Lorem ipsum dummy content It is useful for all type site and use for dummy content all type site and use for dummy content all type site and use for dummy content..... <a href="javascript:void(0)" (click)="reviewModal(review)">Read More</a></td>
                                <td>
                                    <button class="btn btn-danger" (click)="reviewDeleteModal(reviewDelete)"><i class="ti-trash"></i>
                    Delete</button>
                                </td>
                            </tr>
                            <tr>
                                
                                <td>Ronny </td>
                                <td>Hannagover@gmail.com </td>
                               
                                <td>Lorem ipsum dummy content It is useful for all type site and use for dummy content all type site and use for dummy content all type site and use for dummy content..... <a href="javascript:void(0)" (click)="reviewModal(review)">Read More</a></td>
                                <td>
                                    <button class="btn btn-danger" (click)="reviewDeleteModal(reviewDelete)"><i class="ti-trash"></i>
                    Delete</button>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>




<ng-template #review let-modal>
    <div class="modal-body">
        <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="mdi mdi-close"></i>
    </button>
        <div class="row">

            
            <div class="col-lg-12 col-xlg-12 col-md-12">
                <div class="card custom-tabs mb-0">
                    <div class="card-body">
                        <div class="row pt-2">
                            <div class="col-md-12">
                                <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                    content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                                    still in their infancy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</ng-template>

<ng-template #addreview let-modal>
    <div class="modal-body">
        <div class="card">
            <form action="#">
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Add Review</label>
                                    <textarea class="form-control" placeholder="Message" rows="10"></textarea>

                                </div>
                            </div>
                        

                        </div>
                        


                    </div>

                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Submit</button>
                            <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</ng-template>




<ng-template #reviewDelete let-modal>
    <div class="modal-body">
        <p>Are you sure you want to delete this review?</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary mr-2" aria-label="Close" (click)="modal.dismiss('Cross click')">Yes</button>
            <button type="button" class="btn btn-seconadary" aria-label="Close" (click)="modal.dismiss('Cross click')">No</button>
        </div>
    </div>
</ng-template> -->