<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <div class="m-t-30 text-center">
                    <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />               
                </div>
                <div class="upload-btn-wrapper">
                    <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                    <input type="file" name="myfile" />
                  </div>
            </div>
            <div>
                <hr> </div>
            <div class="card-body">
                <small class="text-muted p-t-30 db">Name</small>
                <h6>  Steave Jobs</h6>
                <small class="text-muted">Email address </small>
                <h6>hannagover@gmail.com</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>+91 654 784 547</h6>
                <small class="text-muted p-t-30 db">Address</small>
                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                <div class="map-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="cstm_tabs2">     
                <ngb-tab title="Profile">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                    <br>
                                    <p class="text-muted">Johnathan Deo</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                    <br>
                                    <p class="text-muted">(123) 456 7890</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">johnathan@admin.com</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                    <br>
                                    <p class="text-muted">London</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Location Access</strong>
                                    <br>
                                    <p class="text-muted">Allow</p>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="font-weight-600 pb-2 mb-0">Documents</h4>
                                </div>
                                <div class="col-md-3"><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid" alt=""></div>
                                <div class="col-md-3"><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid" alt=""></div> 
                            </div>
                            <hr>
                            <h4>Bio</h4>
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                            <h4 class="mt-3">Shop's Details</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Edit Profile">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <form class="form-horizontal form-material row">
                                <div class="col-12 form-group">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="password" class="form-control form-control-line">
                                    </div>
                                </div> -->
                                <div class="col-12 form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <!-- <label class="col-md-12">Select Country</label> -->
                                    <label class="col-md-12">Location</label>
                                    <div class="col-md-12">
                                        <select class="form-control form-control-line"><option>London</option><option>India</option><option>Usa</option><option>Canada</option><option>Thailand</option></select>
                                    </div>
                                </div>    
                                <div class="col-12 form-group">
                                    <label class="col-md-12">Address</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Eg:71 Pilgrim Avenue Chevy Chas" class="form-control form-control-line col-12">
                                    </div>
                                </div>  
                                <div class="col-md-6 form-group">
                                    <label class="col-md-12">Shop's Details</label>
                                    <div class="col-md-12">
                                        <textarea name="" id="" rows="5" class="form-control" placeholder="lorem ipsum dummy content.."></textarea>
                                    </div>
                                </div> 
                                <div class="col-md-6 form-group">
                                    <label class="col-md-12">Bio</label>
                                    <div class="col-md-12">
                                        <textarea name="" id="" rows="5" class="form-control" placeholder="lorem ipsum dummy content.."></textarea>
                                    </div>
                                </div> 
                                <div class="col-md-12 mb-3">
                                    <h4 class="font-weight-600 pb-2 mb-0">Documents</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="col-12">Upload Document</label>
                                            <input type="file">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="col-12">Upload Document</label>
                                            <input type="file">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary" >Add Document</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-3 row">
                                    <label class="col-12">Access the shop's current location</label>
                                    <mat-slide-toggle class="ml-2">
                                    </mat-slide-toggle>
                                </div>               
                                <div class="col-12 form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary">Update Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Device Settings">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 my-3 row">
                                    <label class="col-12">Theme of the app</label>
                                    <mat-slide-toggle class="mr-2">
                                    </mat-slide-toggle> (<span> Disabled </span>)
                                </div>   
                                <div class="col-md-6 my-3 row">
                                    <label class="col-12">Timezone</label>
                                    <mat-slide-toggle class="mr-2">
                                    </mat-slide-toggle> (<span> Disabled </span>)
                                </div>   
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <!-- Column -->
</div>
