<div class="card">
    <form action="#">
        <div class="form-body">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 p-b-20 text-right">  <button class="btn btn-primary" routerLink="/pages/drivers">Back</button></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John ">

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="Doe">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date Of Birth</label>
                            <input type="date" id="dob" class="form-control" placeholder="Doe">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input type="text" id="no" class="form-control" placeholder="5245278554">

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Email</label>
                            <input type="email" id="email" class="form-control form-control-danger" placeholder="example@gmail.com">

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Driver ID</label>
                            <input type="text" id="driver_id" class="form-control form-control-danger" placeholder="#33434">

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Vehicle Type</label>
                            <select class="form-control">
                              <option value="">Bike</option>
                              <option value="">Scooter</option>
                              <option value="">E-bike</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Upload Identity card</label>
                            <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Commission</label>
                            <input type="number" placeholder="Add Commission" value="" class="form-control">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">I am one of Following</label>
                            <select class="form-control">
                              <option value="">Student</option>
                              <option value="">Independent</option>
                              <!-- <option value="">E-bike</option> -->
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Driver City</label>
                            <input type="text" placeholder="City name" value="" class="form-control">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">VAT Number</label>
                            <input type="text" placeholder="eg:EX433434" value="" class="form-control">
                        </div>
                    </div>
                    <!--/span-->
                    <!-- <div class="col-md-6">
                        <div class="form-group has-danger">
                          <label class="control-label">Pincode</label>
                          <input type="text" id="email" class="form-control form-control-danger" placeholder="Pincode">
                        </div>
                      </div> -->
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group has-danger">
                            <label class="control-label">Total Sales</label>
                            <input type="text" id="city" class="form-control form-control-danger" placeholder="&euro; 445">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="#433 New garden Complex"></textarea>
                        </div>
                    </div>
                </div>
                <!--/row-->

                <!--/row-->
            </div>

            <div class="form-actions">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary mr-3" >Save</button>
                  
                </div>
            </div>
        </div>
    </form>
</div>