<div class="row">
    <div class="col-12">
        <form [formGroup]="TermConditionForm">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <quill-editor formControlName="terms_and_conditon" [style]="{height: '300px',display: 'inline-block'}"></quill-editor>
                        <span class="error" *ngIf="TermConditionForm.get('terms_and_conditon').hasError('required') && TermConditionForm.get('terms_and_conditon').touched">Please enter terms & conditions.</span>
                      </div>
                    <div class="col-12">
                        <button class="btn btn-primary mt-3" (click)="SaveTerms()">Save</button>
                    </div>
                </div>
            </div>
        </form>
         </div>
</div>