<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;background-size: 100% 100%;">
    <div class="auth-box on-sidebar">
        <div id="signupform" *ngIf="signupform">
            <div class="logo">
                <span class="db"><img src="assets/images/logo2.svg" alt="logo" /></span>
                <!-- <h5 class="font-medium m-b-20">Sign Up to Admin</h5> -->
            </div>
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="text" required=" " placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="text" required=" " placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" required=" " placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" required=" " placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 ">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label text-white" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button (click)="signdtl2form()" class="btn btn-block btn-lg theme_btn" type="submit ">Sign up</button>
                            </div>
                            <div class="col-xs-12 mt-2">
                                <button (click)="signupnumberform()" class="btn btn-block btn-lg theme_btn">Sign up with number</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center text-white">
                                Already have an account? <a href="javascript:void()" routerLink='/login' class="text-white m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="signupnumber" *ngIf="signupnumber">
            <div class="logo">
                <span class="db"><img src="assets/images/logo2.svg" alt="logo" /></span>
                <!-- <h5 class="font-medium m-b-20">Sign Up to Merchant</h5> -->
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="form-group row ">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="text" required=" " placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="number" required=" " placeholder="Phone number">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" required=" " placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" required=" " placeholder="Confirm Password">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <div class="col-md-12 ">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label text-white" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20 ">
                                <button (click)="signdtlform()" class="btn btn-block btn-lg theme_btn">Sign up</button>
                            </div>
                            <div class="col-xs-12 mt-2">
                                <button (click)="signupnumberform()" class="btn btn-block btn-lg theme_btn">Sign up with email</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center text-white">
                                Already have an account? <a href="javascript:void()" routerLink='/login' class="text-white m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="signupdtl" *ngIf="signupdtl">
            <div class="logo">
                <span class="db"><img src="assets/images/logo2.svg" alt="logo" /></span>
            </div>
            <div class="row">
                <div class="col-12" *ngIf="numberform">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="cstm_file card-body text-center">
                            <div class="m-t-30 text-center">
                                <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />
                            </div>
                            <div class="upload-btn-wrapper">
                                <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                                <input type="file" name="myfile" />
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="text" required=" " placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <textarea class="form-control form-control-lg" placeholder="Bio"></textarea>
                            </div>
                        </div>
                        <div class="row doc_box">
                            <div class="col-md-6">
                                <div class="card-body cstm_file text-center">
                                    <div class="text-center">
                                        <img src="assets/images/gallery/driving-licence.jpg" width="120" />
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                                        <input type="file" name="myfile" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body cstm_file text-center">
                                    <div class="text-center">
                                        <img src="assets/images/gallery/driving-licence.jpg" width="120" />
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                                        <input type="file" name="myfile" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button (click)="signotpform()" class="btn btn-block btn-lg theme_btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12" *ngIf="otpform">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="form-group row ">
                            <div class="col-12 text-center">
                                <ng-otp-input class="otp-box" (onInputChange)="onOtpChange($event)" [config]="{length:4}">
                                </ng-otp-input>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button class="btn btn-block btn-lg theme_btn" type="submit"> Verify </button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 text-center"> <a href="javascript:void(0)" (click)="resentCode()" class="text-white m-l-5 "><b>Resend OTP</b></a></div>
                    </form>
                </div>
            </div>
        </div>
        <div id="signupdtl2" *ngIf="signupdtl2">
            <div class="logo">
                <span class="db"><img src="assets/images/logo2.svg" alt="logo" /></span>
            </div>
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="cstm_file card-body text-center">
                            <div class="m-t-30 text-center">
                                <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />
                            </div>
                            <div class="upload-btn-wrapper">
                                <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                                <input type="file" name="myfile" />
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="text" required=" " placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <textarea class="form-control form-control-lg" placeholder="Bio"></textarea>
                            </div>
                        </div>
                        <div class="row doc_box">
                            <div class="col-md-6">
                                <div class="card-body cstm_file text-center">
                                    <div class="text-center">
                                        <img src="assets/images/gallery/driving-licence.jpg" width="120" />
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                                        <input type="file" name="myfile" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body cstm_file text-center">
                                    <div class="text-center">
                                        <img src="assets/images/gallery/driving-licence.jpg" width="120" />
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                                        <input type="file" name="myfile" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button routerLink='/login' routerLinkActive="router-link-active" class="btn btn-block btn-lg theme_btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>