.upload-btn-wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0px);
}

.cstm_file {
    position: relative;
}

.doc_box .cstm_file .btn-upload {
    font-size: 14px;
}

.logo{
    img{
        width:90px;
    }
}