<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="feed-widget scrollable  p-3">
                    <h4 class="card-title">Orders</h4>
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <li class="feed-item">
                            <div class="feed-icon bg-warning">
                                <i class="far fa-bell"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendorsrequest" > You have 5 new orders </a>                 
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-primary">
                                <i class="ti-user"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendors" >225 orders in total</a>                      
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-info-alt"></i>
                            </div>
                            <a class="w-75" href=""> 2 new orders today.</a>
                        </li>    
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feed-widget scrollable  p-3">
                    <h4 class="card-title">Vendors</h4>
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <li class="feed-item">
                            <div class="feed-icon bg-warning">
                                <i class="far fa-bell"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendorsrequest" > You have 5 new vendors</a>                 
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-primary">
                                <i class="ti-user"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendors" >225 vendors in total</a>                      
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-info-alt"></i>
                            </div>
                            <a class="w-75" href=""> 2 new vendors today.</a>
                        </li>    
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feed-widget scrollable   p-3">
                    <h4 class="card-title">Drivers</h4>
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <li class="feed-item">
                            <div class="feed-icon bg-warning">
                                <i class="far fa-bell"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendorsrequest" > You have 5 new drivers </a>                 
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-primary">
                                <i class="ti-user"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendors" >225 drivers in total</a>                      
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-info-alt"></i>
                            </div>
                            <a class="w-75" href=""> 2 new drivers  today.</a>
                        </li>    
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feed-widget scrollable  p-3">
                    <h4 class="card-title">Franchises</h4>
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <li class="feed-item">
                            <div class="feed-icon bg-warning">
                                <i class="far fa-bell"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendorsrequest" > You have 5 new franchises </a>                 
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-primary">
                                <i class="ti-user"></i>
                            </div>
                            <a class="w-75" routerLink="/pages/vendors" >225 franchises in total</a>                      
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-info-alt"></i>
                            </div>
                            <a class="w-75" href=""> 2 new franchises today.</a>
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 