    .logo-svg {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        //     .st0{fill:#FBB03B;
        // }
    }
    
    .logo-sidebar {
        width: 45px;
    }
    
    .logo-content {
        width: 120px;
    }