<div class="row">
    <div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-primary">
                        <i class="sl-icon-people text-white"></i>
                    </span>
                </div>
                <div>
                    Total Order
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">223</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-primary">
                        <i class=" fas fa-chart-line text-white"></i>
                    </span>
                </div>
                <div>
                    Total Users
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">3210</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-primary">
                        <i class=" fas fa-chart-line text-white"></i>
                    </span>
                </div>
                <div>
                    Total Vendors
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">50</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-primary">
                        <i class="fas fa-chart-bar text-white"></i>
                    </span>
                </div>
                <div>
                    Pending Orders
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">113</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg bg-primary">
                        <i class="fab fa-first-order  text-white"></i>
                    </span>
                </div>
                <div>
                    Order Delivered
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">23</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
</div>

<!-- col-md-4 -->
<div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-primary">
                        <i class="fas fa-th text-white"></i>
                    </span>
                </div>
                <div>
                    New Orders
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">50</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- col-md-4 -->
<!-- col-md-4 -->
<div class="col-md-3">
    <!-- Card -->
    <div class="card">
        <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-primary">
                        <i class="fas fa-percent text-white"></i>
                    </span>
                </div>
                <div>
                    In Progress
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">10</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
    <!-- Column -->
</div>